<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>creation</title>
</head>
<body bgcolor="">

    <form action="" method="post">
        {% csrf_token%}
        number_1 : <input type="text" name='number_1'><br>
        number_2 :<input type="text"  name='number_2'><br>
        <input type="submit">
       <a href="read">get</a>
    </form>


</body>
</html>