<!DOCTYPE html>
<html>
<head>
<style>
table {


  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}
</style>
</head>
 <body >
 <form method="GET">
 <table >
   <tr>
     <th>id</th>
     <th>user_name</th>
<!--     <th>gender</th>-->
     <th>email_id</th>
     <th>phone_no</th>
     <th>address</th>
   </tr>

   {% for i in Employee%}
   <tr>
     <td>{{i.id}}</td>
     <td>{{i.user_name}}</td>

     <td>{{i.email_id}}</td>
     <td>{{i.phone_no}}</td>
     <td>{{i.address}}</td>
     <td><a href="delete/<int:id>/">delt</a></td>
     <td><a href="delete/<int:phone_no>/">delt</a></td>

     <!--  </tr>
       <tr>
         <td>{{i.id}}</td>
         <td>{{i.user_name}}</td>
         <td>{{i.gender}}</td>
         <td>{{i.email_id}}</td>
         <td>{{phone_no}}</td>
         <td>{{address}}</td>
         <td><a href="d_email/<int:email>/">delt</a></td>-->
   </tr>
   {%  endfor %}
     </form>
 </body>
</html>